<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Encryption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <style>
        body {
            background-image: url('https://htmlcolors.com/gradients-images/53-light-purple-gradient.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%; 
        }

        button {
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            font-size: 24px;
        }


        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        select {
            margin-left: 20px;
            width: 20%;
            padding: 16px 20px;
            border: none;
            border-radius: 4px;
            background-color: #f1f1f1;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
           
        }

        .try-now-button {
            background-color: rgb(57, 57, 82);
            border: none;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }

        .try-now-button:hover {
            background-color: rgb(83, 83, 106);
            border: none;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }

    </style>    
</head>
<body> 

    <div class="container">
        <br>
        <h2 class="text-center" style="color: rgb(57, 57, 82); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 600;">
            Text Encryption & Decryption
        </h2>
        <br><br>

            <!--frontend to input text and select technique-->
            <div class="form-group container">        

                <label for="name" style="color: rgb(57, 57, 82); font-size: 16px;">Enter Text</label>
                <input type="text" id="name" name="name" placeholder="Enter some text ..." style="color: rgb(57, 57, 82); font-size: 16px;" required>

                <br><br>
                <label for="technique" style="color: rgb(57, 57, 82); font-size: 16px;">Select encryption technique : </label>

                <select name="technique" id="select" >
                    <option value="none" selected disabled hidden>Select one</option>
                    <option value="rsa" name="rsa">RSA</option>
                    <option value="tdes" name="tdes">TDES</option>
                    <option value="aes" name="aes">AES</option>
                </select>

                
                <div id="encryptedText" style="margin-top: 32px; color: rgb(57, 57, 82); width: 50%; word-wrap:break-word;"></div>
            </div>

            <div class="form-group container" >
                <button class="btn btn-primary" onclick="techselect(document.getElementById('select').value)">
                    Encrypt Text
                </button>
            </div>

            <br>
            

            <!--frontend to input encrypted text and decrypt using selected technique-->
            <div class="form-group container">

                <label for="name1" style="color: rgb(57, 57, 82); font-size: 16px;">Encrypted Text</label>
                <input type="text" id="name1" name="name1" placeholder="Enter encrypted text ..." style="color: rgb(57, 57, 82); font-size: 16px;" required>

                <div id="decryptedText" style="margin: 0; color: rgb(57, 57, 82); width: 50%; word-wrap:break-word;">
                </div>

            </div>

            <br>
            <div class="form-group container">
                <button class="btn btn-success" onclick="techselect1(document.getElementById('select').value)">
                    Decrypt Text
                </button>
            </div>

            <div class="center">
                <a href="/">
                    <button class="try-now-button">Go To Home</button>
                </a>
            </div>
            
        
    </div>
  
</body>

<script>
    function techselect(value)                      //ajax call for text encryption
    {
        console.log(value);
        console.log(document.getElementById("name").value);
        $.ajax({
            type: 'POST',
            url: '/encrypt',
            data: {
                'text':document.getElementById("name").value,
                'type':value
            },
            success: function(encryptedText) {               //displaying the encrypted text on webpage
                var html = '';
                html += '<h4> Encrypted text is : ' + encryptedText + '</h4>';
                $('#encryptedText').html(html);
            }
            });

    }
    function techselect1(value)                         //ajax call for text decryption
    {
        console.log(value);
        console.log(document.getElementById("name1").value);
        $.ajax({
            type: 'POST',
            url: '/decrypt',
            data: {
                'text':document.getElementById("name1").value,
                'type':value
            },
            success: function(decryptedText) {              //displaying the decrypted text on webpage
                var html = '';
                html += '<h4>Decrypted text is : ' + decryptedText + '</h4>';
                $('#decryptedText').html(html);  
            }
            });

    }
</script>

</html>