<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Encryption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://htmlcolors.com/gradients-images/53-light-purple-gradient.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            
        }

        button {
            position: relative;
            display: inline-block;
            padding: 15px 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            font-size: 24px;
        }

        .try-now-button {
            background-color: rgb(57, 57, 82);
            border: none;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }

        .try-now-button:hover {
            background-color: rgb(83, 83, 106);
            border: none;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }

    </style>   
</head>
<body>
    <div class="container">
        <h2 class="text-center" style="color: rgb(57, 57, 82); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 600;">
            Image Encryption & Decryption
        </h2>
        <br><br>

        <!-- frontend for uploading and encrypting image -->
        <form action="/encode" method="post" enctype="multipart/form-data">
            <div class="form-group container" style="color: rgb(57, 57, 82); font-size: 16px;">
                <label for="file">Upload Image :</label>
                <br><br>
                <input class="form-control" type="file" name="file" id="" style="width: 50%; font-size: 16px; height: 38px" required>
            </div> 
            <br>
            <div class="form-group container">
                <button class="btn btn-primary">
                    Encrypt Image
                </button>
            </div>
        </form>

        <!-- frontend for uploading the encrypted image and decrypting it -->
        <form action="/decode" method="post" enctype="multipart/form-data">
            <div class="form-group container">
                <br><br>
                <label for="file"style="color: rgb(57, 57, 82); font-size: 16px;">Upload Encrypted Image :</label>
                <br><br>
                <input class="form-control" type="file" name="file" id="" style="width: 50%; font-size: 16px; height: 38px" required>
            </div>
            <br>
            <div class="form-group container">
                <button class="btn btn-success">
                    Decrypt Image
                </button>
            </div>
        </form>

        <a href="/">
            <button class="try-now-button" style=" position: fixed; bottom: 90px; right: 650px; font-weight: bold;" >Go To Home</button>
        </a>

    </div>
</body>
</html>